In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 1. 데이터 확인

In [14]:
train_df = pd.read_csv("train.csv")
building_info = pd.read_csv("building_info.csv") #100개 건물 정보
test_df = pd.read_csv("test.csv")

In [5]:
# 열 속성 이름 변환
train_df = train_df.rename(columns={
    '건물번호': 'building_number',
    '일시': 'date_time',
    '기온(C)': 'temperature',
    '강수량(mm)': 'rainfall',
    '풍속(m/s)': 'windspeed',
    '습도(%)': 'humidity',
    '일조(hr)': 'sunshine',
    '일사(MJ/m2)': 'solar_radiation',
    '전력소비량(kWh)': 'power_consumption'
})

In [22]:
test_df = test_df.rename(columns={
    '건물번호': 'building_number',
    '일시': 'date_time',
    '기온(C)': 'temperature',
    '강수량(mm)': 'rainfall',
    '풍속(m/s)': 'windspeed',
    '습도(%)': 'humidity',
    '일조(hr)': 'sunshine',
    '일사(MJ/m2)': 'solar_radiation',
    '전력소비량(kWh)': 'power_consumption'
})

In [6]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204000 entries, 0 to 203999
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   num_date_time      204000 non-null  object
 1   building_number    204000 non-null  int64
 2   date_time          204000 non-null  object
 3   temperature        204000 non-null  float64
 4   rainfall           43931 non-null   float64
 5   windspeed          203981 non-null  float64
 6   humidity           203991 non-null  float64
 7   sunshine           128818 non-null  float64
 8   solar_radiation    116087 non-null  float64
 9   power_consumption  204000 non-null  float64
dtypes: float64(7), int64(1), object(2)
memory usage: 15.6+ MB

In [11]:
# drop num date time == dndt
train_df_dndt = train_df.iloc[:, 1:]

In [23]:
# drop num date time == dndt
test_df_dndt = test_df.iloc[:, 1:]

In [12]:
train_df_dndt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204000 entries, 0 to 203999
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   building_number    204000 non-null  int64
 1   date_time          204000 non-null  object
 2   temperature        204000 non-null  float64
 3   rainfall           43931 non-null   float64
 4   windspeed          203981 non-null  float64
 5   humidity           203991 non-null  float64
 6   sunshine           128818 non-null  float64
 7   solar_radiation    116087 non-null  float64
 8   power_consumption  204000 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 14.0+ MB

In [15]:
# 열 속성 이름 변환
building_info = building_info.rename(columns={
    '건물번호': 'building_number',
    '건물유형': 'building_type',
    '연면적(m2)': 'total_area',
    '냉방면적(m2)': 'cooling_area',
    '태양광용량(kW)': 'solar_power_capacity',
    'ESS저장용량(kWh)': 'ess_capacity',
    'PCS용량(kW)': 'pcs_capacity'
})

In [18]:
translation_dict = {
    '건물기타': 'Other Buildings',
    '공공': 'Public',
    '대학교': 'University',
    '데이터센터': 'Data Center',
    '백화점및아울렛': 'Department Store and Outlet',
    '병원': 'Hospital',
    '상용': 'Commercial',
    '아파트': 'Apartment',
    '연구소': 'Research Institute',
    '지식산업센터': 'Knowledge Industry Center',
    '할인마트': 'Discount Mart',
    '호텔및리조트': 'Hotel and Resort'
}

building_info['building_type'] = building_info['building_type'].replace(translation_dict)

In [19]:
building_info.head()

,building_number,building_type,total_area,cooling_area,solar_power_capacity,ess_capacity,pcs_capacity
0,1,Other Buildings,110634.00,39570.00,-,-,-
1,2,Other Buildings,122233.47,99000.00,-,-,-
2,3,Other Buildings,171243.00,113950.00,40,-,-
3,4,Other Buildings,74312.98,34419.62,60,-,-
4,5,Other Buildings,205884.00,150000.00,-,2557,1000

In [24]:
train_df_dndt = pd.merge(train_df_dndt, building_info, on='building_number', how='left')
test_df_dndt = pd.merge(test_df_dndt, building_info, on='building_number', how='left')

In [26]:
len(train_df_dndt)

204000

In [32]:
len(test_df_dndt)

16800

In [27]:
# 결측치 확인
train_df_dndt.isna().sum()

building_number              0
date_time                    0
temperature                  0
rainfall                160069
windspeed                   19
humidity                     9
sunshine                 75182
solar_radiation          87913
power_consumption            0
building_type                0
total_area                   0
cooling_area                 0
solar_power_capacity         0
ess_capacity                 0
pcs_capacity                 0
dtype: int64

In [28]:
test_df_dndt.isna().sum()

building_number         0
date_time               0
temperature             0
rainfall                0
windspeed               0
humidity                0
building_type           0
total_area              0
cooling_area            0
solar_power_capacity    0
ess_capacity            0
pcs_capacity            0
dtype: int64

In [31]:
print(len(train_df_dndt[train_df_dndt['solar_power_capacity'] == '-']))
print(len(train_df_dndt[train_df_dndt['ess_capacity'] == '-']))
print(len(train_df_dndt[train_df_dndt['pcs_capacity'] == '-']))

130560
193800
193800